<div class="card sign-in">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
    <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |form| %>
      <%= form.error_notification %>

      <%= form.input :email %>
      <%= form.input :password %>

      <%= form.button :submit, value: 'Sign in', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
