<% page.title @game.name %>

<% page.breadcrumbs ['Games', games_path] %>

<% page.actions do %>
  <%= edit_action edit_game_path(@game) %>
  <%= delete_action game_path(@game) %>
<% end %>

<div class="card mb-3">
  <div class="card-header">
    Consumables (<%= @game.consumables.size %>)
  </div>
  <div class="card-body">
    <div class="mb-3">
      <%= action_link 'New consumable', new_consumable_path(game_id: @game.id) %>
    </div>
    <% if @game.consumables.size > 0 %>
      <%= table_for @game.consumables do |table| %>
        <% table.column :identifier %>
        <% table.column :name %>
        <% table.boolean :tradeable %>
        <% table.number :value %>
        <% table.actions do |consumable| %>
          <%= edit_action edit_consumable_path(consumable) %>
          <%= delete_action consumable_path(consumable) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    API keys (<%= @game.api_keys.size %>)
  </div>
  <div class="card-body">
    <div class="mb-3">
      <%= action_link 'New API key', new_game_api_key_path(game_id: @game.id) %>
    </div>
    <% if @game.api_keys.size > 0 %>
      <%= table_for @game.api_keys do |table| %>
        <% table.column :name %>
        <% table.column :token %>
        <% table.actions do |api_key| %>
          <%= edit_action edit_game_api_key_path(api_key) %>
          <%= delete_action game_api_key_path(api_key) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    Icon
  </div>
  <div class="card-body">
    <%= attachment_image_tag @game.icon, height: 100 %>
  </div>
</div>
